@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;700&display=swap");

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
}

::-moz-selection {
  /* Css Untuk Browser Firefox */
  background-color: var(--color-yellow);
  color: #ffffff;
}

::selection {
  background-color: var(--color-yellow);
  color: #ffffff;
}

:root {
  --color-secondary: #f3faf4;
  --color-yellow: #f1aa3e;
  --color-green1: #23843d;
  --color-dark1: #292a3a;
}

body {
  font-family: "Quicksand", sans-serif;
  box-sizing: border-box;
  background-color: var(--color-secondary);
}

img {
  user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.container {
  margin: 0 5rem;
}

.flex {
  display: flex;
  align-items: center;
}

header {
  z-index: 10;
  width: 100%;
  font-weight: 700;
  position: fixed;
  top: 0;
  left: 0;
}

header.scrolling {
  z-index: 10;
  background-color: var(--color-secondary);
  box-shadow: 0 0 10px rgba(7, 7, 7, 0.527);
}

.navbar {
  padding: 1rem 0;
  margin: 0 auto;
  max-width: 1450px;
  display: flex;
}

.logo {
  display: inline;
  flex: 1 1;
}

.logo a {
  text-decoration: none;
}

.logo a img {
  width: 85px;
}

nav ul {
  align-items: center;
  display: flex;
  list-style: none;
}

nav ul li {
  font-size: 1.07rem;
  margin: 1.5rem 0 0 2rem;
}

nav ul li a {
  display: block;
  text-decoration: none;
  color: black;
  transition: all 300ms;
}

nav ul li a.btn-contact {
  background-color: var(--color-green1);
  color: white;
  padding: 0.7rem;
  border-radius: 0.8rem 0;
}

nav ul li a.btn-contact:hover {
  color: white;
  background-color: #124720;
}

nav ul li a.btn-contact::after {
  display: none;
}

nav ul li a:hover {
  color: var(--color-green1);
}

nav ul li a::after {
  content: "";
  background-color: var(--color-green1);
  height: 2px;
  display: block;
  width: 0%;
  transform: translateY(0.2rem);
  transition: all 300ms;
  margin: auto;
}

nav ul li a:hover::after {
  width: 100%;
}

nav ul li .nav-links.active {
  color: var(--color-green1);
  position: relative;
}

nav ul li .nav-links.active::after {
  content: "";
  width: 100%;
  height: 2px;
  display: block;
  background-color: var(--color-green1);
  transition: all ease 500ms;
  margin: 0 auto;
}

/*Hamburger Menu*/
.nav-responsive {
  margin: 13px 20px 20px 0;
  display: none;
  flex-direction: column;
  height: 20px;
  justify-content: space-between;
  position: relative;
}

.nav-responsive input {
  position: absolute;
  width: 50px;
  height: 50px;
  left: -13px;
  top: -15px;
  opacity: 0;
  cursor: pointer;
  z-index: 1;
}

.nav-responsive span {
  display: block;
  width: 28px;
  height: 3px;
  background-color: var(--color-green1);
  border-radius: 3px;
  transition: all 0.4s;
  z-index: 3;
  cursor: pointer;
}

/* Hamburger Menu Animation */
.nav-responsive span:nth-child(2) {
  transform-origin: 0 0;
}

.nav-responsive span:nth-child(4) {
  transform-origin: 0 100%;
}
.nav-responsive input:checked ~ span:nth-child(2) {
  background-color: black;
  transform: rotate(45deg) translate(-1px, -1px);
}
.nav-responsive input:checked ~ span:nth-child(3) {
  opacity: 0;
  transform: scale(0);
}
.nav-responsive input:checked ~ span:nth-child(4) {
  background-color: black;
  transform: rotate(-45deg) translate(-1px, 0);
}

/* tentang kami */
.home-about {
  padding-top: 10rem;
  width: 100%;
  max-width: 1450px;
  margin: 0 auto;
}

.content-about {
  margin: 0 auto;
}

.content-about .img-about {
  width: 100%;
  height: auto;
  border-radius: 20px;
}

.content-about .img-about img {
  width: 480px;
  height: auto;
}

.content-about .about-text {
  margin-left: 3.5rem;
}

.content-about .about-text .title {
  font-size: 2.2rem;
  color: var(--color-green1);
  margin-top: 1rem;
}

.content-about .about-text p {
  text-align: justify;
  margin-top: 1rem;
  margin-right: 1rem;
  line-height: 1.8rem;
}

/* customer - home */
.customer {
  margin-top: 7rem;
  margin-bottom: 1rem;
}

.customer h2 {
  color: var(--color-green1);
  text-align: center;
  margin-bottom: 5rem;
}

.customer h2::after {
  content: "";
  background-color: var(--color-green1);
  height: 3px;
  border-radius: 1rem;
  display: block;
  width: 40px;
  transform: translateY(0.2rem);
  transition: all 300ms;
  margin: 0.3rem auto 1.5rem;
}

.slider-c {
  overflow: hidden;
  margin: auto;
  display: grid;
  place-items: center;
}

.slider-c .customer-slide {
  display: flex;
  width: calc(250px * 28);
  animation: scrollCustomer 28s linear infinite;
}

.slider-c .customer-slide .slidecus {
  width: 100px;
  display: flex;
  align-items: center;
  padding: 0 2rem;
  perspective: 8rem;
}

.slider-c .customer-slide:hover {
  animation-play-state: paused;
}

@keyframes scrollCustomer {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-250px * 7.5));
  }
}

.slider-c .customer-slide .slidecus img {
  object-fit: cover;
  object-position: center;
  width: 100%;
  transition: all 300ms;
}

.slider-c .customer-slide .slidecus img:hover {
  transform: translateZ(1rem);
}

/* visi-misi */
.visi-misi {
  background-color: var(--color-green1);
  margin: -5rem 0 0;
  z-index: 1;
  position: relative;
}

.visi-misi .content-vm {
  width: 100%;
  max-width: 1450px;
  margin: 0 auto;
  align-items: center;
}

.visi-misi .content-vm .text-vm {
  flex: 1 1;
  color: white;
}

.visi-misi .content-vm .text-vm .misi {
  margin-top: 2rem;
}

.visi-misi .content-vm .text-vm .visi h2,
.visi-misi .content-vm .text-vm .misi h2 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.visi-misi .content-vm .text-vm .visi p,
.visi-misi .content-vm .text-vm .misi p {
  text-align: justify;
  margin-right: 1rem;
  margin-right: 2.5rem;
  line-height: 1.8rem;
}

.visi-misi .content-vm .img-misi {
  margin-top: 3rem;
}

.visi-misi .content-vm .img-misi img {
  max-width: 550px;
  width: 100%;
  border-radius: 2rem;
}

.top-svg {
  margin-top: -2rem;
}

.btm-svg {
  margin-top: -1rem;
  margin-bottom: -3rem;
}

/* pengantar */
.pengantar {
  padding-top: 5rem;
  width: 100%;
  max-width: 1450px;
  margin: 0 auto;
  padding-bottom: 5rem;
}

.pengantar .pengantar-desc {
  margin-right: 3.5rem;
}

.pengantar .pengantar-desc .title {
  font-size: 2.2rem;
  color: var(--color-green1);
  margin-top: 1rem;
}

.pengantar .pengantar-desc p {
  text-align: justify;
  margin-top: 1rem;
  margin-right: 1rem;
  line-height: 1.8rem;
}

.pengantar .pengantar-desc #mySelengkapnya {
  display: none;
}

.pengantar-content .img-about {
  width: 100%;
  height: auto;
  border-radius: 20px;
}

.pengantar-content .img-about img {
  width: 480px;
  height: auto;
}

.pengantar-content .img-about p {
  text-align: center;
  color: var(--color-green1);
  text-decoration: none;
}

.pengantar .read-more-btn {
  cursor: pointer;
  text-decoration: underline;
  color: blueviolet;
}

.pengantar .read-more-text {
  display: none;
}

.pengantar .read-more-text--show {
  display: block;
}

/* layanan service */

.mt-service {
  padding-top: 10rem;
}

.layanan-service {
  width: 100%;
  max-width: 1600px;
  margin: 0 auto 2rem;
}

.layanan-service h2 {
  color: var(--color-green1);
  text-align: center;
}

.layanan-service h2::after {
  content: "";
  background-color: var(--color-green1);
  height: 3px;
  border-radius: 1rem;
  display: block;
  width: 40px;
  transform: translateY(0.2rem);
  transition: all 300ms;
  margin: 0.3rem auto 1.5rem;
}

.layanan-service .content-service .card-service {
  flex: 1 1;
  background-color: var(--color-green1);
  border-radius: 1rem 0;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
  padding: 1.5rem;
  text-align: center;
  max-width: 100%;
  color: white;
  margin: 4rem 2rem 0;
  transition: all 300ms;
}

.layanan-service .content-service .card-service i {
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
}

.layanan-service .content-service .card-service h3 {
  margin-bottom: 1rem;
}

.layanan-service .content-service .card-service p {
  line-height: 1.8rem;
}

/* armada-home */
.armada {
  padding-top: 7rem;
  width: 100%;
  max-width: 1450px;
  margin: 0 auto;
}

.armada2 {
  padding-top: 0;
  margin-top: 10rem;
}

.armada .title-2 {
  text-align: center;
  color: var(--color-green1);
  margin-bottom: 5rem;
}

.armada .title-2::after {
  content: "";
  background-color: var(--color-green1);
  height: 3px;
  border-radius: 1rem;
  display: block;
  width: 40px;
  transform: translateY(0.2rem);
  transition: all 300ms;
  margin: 0.3rem auto 1.5rem;
}

.content-armada {
  margin: 0 auto;
  align-items: start;
}

.content-armada .img-armada {
  width: 480px;
  border-radius: 20px;
  margin: auto;
}

.mt-armada {
  margin-top: 2rem;
}

/* .mt-armada:nth-child(3) .img-armada img {
  
} */

.content-armada .img-armada img {
  width: 100%;
  max-width: 1200px;
}

.content-armada .armada-text {
  margin-left: 3.5rem;
}

.content-armada .armada-text2 {
  margin-left: 1rem;
  margin-right: 3.5rem;
}

.content-armada .armada-text .title {
  font-size: 1.7rem;
  color: var(--color-green1);
  margin-top: 1rem;
}

.content-armada .armada-text2 .title {
  font-size: 1.7rem;
  color: var(--color-green1);
  margin-top: 1rem;
}

.content-armada .armada-text p {
  text-align: justify;
  margin-top: 1rem;
  margin-right: 1rem;
  line-height: 1.8rem;
}

.content-armada .armada-text2 p {
  text-align: justify;
  margin-top: 1rem;
  margin-right: 1rem;
  line-height: 1.8rem;
}

.content-armada .armada-f {
  display: flex;
  margin-top: 2rem;
}

.content-armada .armada-f .icon-armada {
  margin-right: 1.5rem;
  background-color: var(--color-green1);
  border-radius: 0.5rem;
  font-size: 1.5rem;
  display: block;
  padding: 0.7rem;
  color: white;
}

/* fitur-perusahaan */
.fitur-perusahaan {
  padding-top: 7rem;
  width: 100%;
  max-width: 1450px;
  margin: 0 auto;
}

.fitur-perusahaan h2 {
  color: var(--color-green1);
  text-align: center;
}

.fitur-perusahaan h2::after {
  content: "";
  background-color: var(--color-green1);
  height: 3px;
  border-radius: 1rem;
  display: block;
  width: 40px;
  transform: translateY(0.2rem);
  transition: all 300ms;
  margin: 0.3rem auto 1.5rem;
}

.fitur-perusahaan p {
  text-align: center;
}

.fitur-perusahaan .detail-fitur {
  margin-top: 3rem;
}

.fitur-perusahaan .detail-fitur .gambar-fitur {
  margin: 0 auto;
  padding: 2rem;
}

.fitur-perusahaan .detail-fitur .gambar-fitur img {
  max-width: 500px;
  width: 100%;
}

.fitur-perusahaan .desc-fitur {
  margin: 0 7rem;
  line-height: 1.8rem;
}

/* wa */
.wa-me {
  z-index: 3;
  position: fixed;
  bottom: 7%;
  right: 5%;
}

._link-wa {
  text-decoration: none;
  color: white;
}

.wa-me .whatsapp i {
  background-color: #27bb5d;
  padding: 10px 13px;
  border-radius: 100%;
  font-size: 2.7rem;
  transition: all ease 300ms;
}
.wa-me .whatsapp i:hover {
  background-color: #1f8043;
}

/* footer */
footer {
  margin-top: -3rem;
  background-color: var(--color-green1);
  color: white;
  padding: 20px;
  text-align: center;
}

.footer-content {
  margin: auto;
  max-width: 1450px;
  width: 100%;
}

.footer-list .btn {
  margin-top: 2rem;
}

.footer-list .btn-warning {
  background-color: var(--color-yellow);
  padding: 0.5rem 1.8rem;
  border-radius: 1rem;
  text-decoration: none;
  font-weight: 700;
  color: var(--color-dark1);
  transition: all 300ms ease;
}

.footer-list .btn-warning:hover {
  color: white;
}

.footer-flex {
  margin: 0 4rem 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.footer-list {
  flex: 1;
  margin: 10px;
  text-align: left;
  color: white;
}

.footer-list img {
  margin-bottom: 1rem;
  width: 100px;

  background-color: white;
  padding: 1rem;
  border-radius: 1rem;
}

.footer-list h2 {
  margin: 1rem 0 2rem;
}

.footer-list p {
  line-height: 1.8rem;
  font-size: 1rem;
  margin-bottom: 20px;
}

.footer-list ul {
  list-style: none;
  padding: 0;
}

.footer-list ul li {
  margin-bottom: 1rem;
}

.footer-list ul li a {
  font-size: 1rem;
  text-decoration: none;
  color: var(--color-secondary);
}

.social-icons a {
  display: block;
  margin-right: 10px;
  margin-bottom: 1rem;
  color: white;
  text-decoration: none;
  font-size: 1rem;
}

.cr {
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.cr a {
  color: white;
  font-weight: 700;
}

/* =========== ABOUT ============= */
.team-us {
  padding-top: 7rem;
  width: 100%;
  max-width: 1450px;
  margin: 0 auto;
}

.team-us h2 {
  text-align: center;
  color: var(--color-green1);
  margin-bottom: 2rem;
}

.team-us h2::after {
  content: "";
  background-color: var(--color-green1);
  height: 3px;
  border-radius: 1rem;
  display: block;
  width: 40px;
  transform: translateY(0.2rem);
  transition: all 300ms;
  margin: 0.3rem auto 1.5rem;
}

.team-us .team-expert {
  text-align: center;
}

.team-us .team-expert img {
  max-width: 1000px;
  width: 100%;
}

/* gallery tentang */

.gallery {
  padding-top: 7rem;
  width: 100%;
  max-width: 1450px;
  margin: 0 auto;
  padding-bottom: 2rem;
}

.gallery h2 {
  text-align: center;
  color: var(--color-green1);
}

.gallery h2::after {
  content: "";
  background-color: var(--color-green1);
  height: 3px;
  border-radius: 1rem;
  display: block;
  width: 40px;
  transform: translateY(0.2rem);
  transition: all 300ms;
  margin: 0.3rem auto 2.5rem;
}

.gallery-content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  margin: 0 auto;
}

.gallery-content a {
  margin: 1rem;
  width: 350px;
  border-radius: 5px;
  overflow: hidden;
}

.gallery-content a img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 300ms;
}

.gallery-content a img:hover {
  transform: scale(1.1);
  filter: brightness(40%);
}

.lg-download {
  display: none;
}

/* legalitas */
.legalitas {
  padding-top: 10rem;
  width: 100%;
  max-width: 1450px;
  margin: 0 auto;
}

.legalitas h2 {
  text-align: center;
  color: var(--color-green1);
}

.legalitas h2::after {
  content: "";
  background-color: var(--color-green1);
  height: 3px;
  border-radius: 1rem;
  display: block;
  width: 40px;
  transform: translateY(0.2rem);
  transition: all 300ms;
  margin: 0.3rem auto 2.5rem;
}

.legalitas .legalitas-content {
  flex-wrap: wrap;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  margin: 0 auto;
}

.legalitas .legalitas-content h3 {
  text-align: center;
  margin-bottom: 1rem;
}

.legalitas .legalitas-content .legalitas-list {
  margin: 1rem;
}

.legalitas .legalitas-content .legalitas-list iframe {
  max-width: 400px;
  width: 100%;
  height: 400px;
}

/* == customer == */
.mt-customer {
  margin-top: 10rem;
}

/* === concact === */
.contact {
  padding-top: 10rem;
  width: 100%;
  max-width: 1450px;
  margin: 0 auto;
}

.contact .title {
  text-align: center;
  color: var(--color-green1);
}

.contact .title::after {
  content: "";
  background-color: var(--color-green1);
  height: 3px;
  border-radius: 1rem;
  display: block;
  width: 40px;
  transform: translateY(0.2rem);
  transition: all 300ms;
  margin: 0.3rem auto 1.5rem;
}

.via {
  align-items: center;
  justify-content: center;
  margin-top: 3rem;
  padding: 2rem;
  display: flex;
}

.via-wa {
  display: block;
  margin: 0 5rem 5rem;
}

.via-wa a i {
  font-size: 1.2rem;
  padding-right: 0.2rem;
}

.via-wa a {
  display: block;
  text-decoration: none;
  color: white;
  padding: 1rem;
  border-radius: 1rem 0;
  background-color: var(--color-green1);
  transition: all 300ms ease;
}

.via-wa a:hover {
  background-color: #000000;
}

.content-contact {
  margin: 0 auto;
  align-items: center;
}

.content-contact .card-img {
  margin-top: 2rem;
}

.content-contact .card-img img {
  margin: 0 auto;
  width: 450px;
}

.content-contact .pt {
  margin-top: 7rem;
  margin-left: 5rem;
}

.content-contact .pt h2 {
  color: var(--color-green1);
  margin-bottom: 0.5rem;
}

.content-contact .pt p {
  margin-bottom: 0.5rem;
}

.content-contact .icons-email a {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

.content-contact .icons-footer i {
  padding-right: 7px;
}

@media screen and (max-width: 1150px) {
  .gallery-content a {
    margin: 1rem;
    width: 250px;
    height: auto;
  }
}

@media screen and (max-width: 1100px) {
  .content-about {
    align-items: start;
  }

  .content-about .img-about {
    width: 400px;
  }

  .content-about .img-about img {
    width: 400px;
    height: auto;
  }

  .content-about .about-text {
    margin-left: 0.5rem;
  }

  .content-contact .pt {
    margin-left: 2rem;
  }

  .pengantar-content .img-about {
    width: 300px;
    height: auto;
    border-radius: 20px;
  }

  .pengantar-content .img-about img {
    width: 300px;
    height: auto;
  }
}

@media screen and (max-width: 963px) {
  nav ul {
    display: flex;
    position: absolute;
    right: 0;
    top: 0;
    width: 70%;
    height: 100vh;
    padding-top: 7rem;
    flex-direction: column;
    align-items: center;
    background: var(--color-green1);
    z-index: 1;
    transform: translateX(100%);
    transition: all 1s;
    opacity: 0;
  }

  nav ul {
    margin-top: -3rem;
  }

  nav ul li {
    margin-top: 3rem;
  }

  nav ul li .nav-links.active {
    color: var(--color-secondary);
  }

  nav ul li .nav-links.active::after {
    display: none;
  }

  nav ul li a {
    color: black;
  }

  nav ul li a:hover {
    color: black;
  }

  header.scrolling nav ul li .nav-links.active::after {
    display: none;
  }

  header.scrolling nav ul li .nav-links.active::after {
    display: none;
  }

  nav ul li a.btn-contact {
    background-color: var(--color-yellow);
    color: black;
    padding: 0.7rem;
    border-radius: 0.8rem 0;
  }

  nav ul li a.btn-contact:hover {
    color: white;
    background-color: #be842b;
  }

  nav ul.slide {
    opacity: 1;
    transform: translate(0);
  }

  .nav-responsive {
    display: flex;
    z-index: 10;
    margin: 1.6rem 0;
  }

  .logo a img {
    width: 65px;
  }

  .content-about {
    flex-direction: column;
  }

  .content-about .img-about {
    margin: 0 auto;
  }

  .content-about .about-text {
    margin-left: 0rem;
    margin-top: 3rem;
  }

  .content-about .about-text p {
    margin-right: 0;
  }

  .pengantar {
    padding-top: 1rem;
  }

  .pengantar-content {
    margin-top: 2rem;
    flex-direction: column-reverse;
  }

  .pengantar-content .img-about {
    margin: 0 auto;
  }

  .pengantar .pengantar-desc {
    margin-right: 0;
  }

  .pengantar .pengantar-desc .title {
    margin-top: 2.2rem;
  }

  .pengantar .pengantar-desc p {
    margin-right: 0;
  }

  .visi-misi .content-vm .text-vm .visi p,
  .visi-misi .content-vm .text-vm .misi p {
    margin-right: 0rem;
  }

  .customer {
    margin-bottom: 5rem;
  }

  .content-vm {
    flex-direction: column-reverse;
  }

  .visi-misi .content-vm .text-vm {
    margin-top: 4rem;
  }

  .visi-misi {
    margin: -3rem 0 0;
  }

  .content-armada {
    margin-bottom: 6rem;
    flex-direction: column;
  }

  .content-armada2 {
    flex-direction: column-reverse;
  }

  .content-armada .armada-text {
    margin: 0;
  }

  .content-armada .armada-text2 {
    margin: 0;
  }

  .fitur-perusahaan .desc-fitur {
    margin: 0 1rem;
  }

  .fitur-perusahaan {
    margin-bottom: 3rem;
  }

  .content-contact {
    flex-direction: column;
  }

  .content-armada .img-armada {
    text-align: center;
  }

  .content-contact .card-img img {
    margin: 0 auto;
    max-width: 500px;
    width: 100%;
  }

  .content-contact .pt {
    margin-top: 4rem;
    margin-left: 0rem;
  }

  .gallery-content a {
    width: 200px;
  }
}

@media screen and (max-width: 900px) {
  .via {
    text-align: center;
    display: block;
    margin: 4rem 0 0;
    padding: 0;
  }

  .mt-service {
    padding-top: 5rem;
  }

  .layanan-service {
    padding-top: 5rem;
  }

  .layanan-service .content-service .card-service {
    margin: 4rem 1rem 0;
  }
}

@media screen and (max-width: 780px) {
  .container {
    margin: 0 2rem;
  }

  .content-about .img-about {
    max-width: 400px;
    width: 100%;
  }

  .content-about .img-about img {
    max-width: 400px;
    width: 100%;
    height: auto;
  }

  .content-about {
    margin-bottom: 5rem;
  }

  .content-contact {
    margin-bottom: 5rem;
  }

  .customer {
    margin-bottom: 5rem;
  }

  .content-armada .img-armada {
    width: 100%;
  }

  .content-armada .img-armada img {
    width: 100%;
    max-width: 420px;
  }

  .fitur-perusahaan {
    padding-top: 1rem;
  }

  .mt-fiturp {
    margin-top: 5rem;
  }

  .fitur-perusahaan .desc-fitur {
    text-align: justify;
  }

  .footer-list {
    margin-bottom: 2rem;
    flex: 100%;
  }

  .footer-list h2 {
    margin-bottom: 1rem;
  }

  .footer-flex {
    margin: 0 1rem 2rem;
  }

  .team-us {
    padding-top: 0rem;
  }

  .mt-service {
    padding-top: 10rem;
  }

  .mt-customer {
    padding-top: 10rem;
  }

  .visi-misi .content-vm .text-vm .misi {
    margin-bottom: 3rem;
  }

  .gallery-content a {
    width: 180px;
    margin: 0.5rem;
    height: 120px;
  }
}

@media screen and (max-width: 610px) {
  .gallery-content a {
    width: 150px;
    margin: 0.5rem;
    height: 100px;
  }
}

@media screen and (max-width: 550px) {
  .visi-misi {
    margin-top: -2rem;
  }

  .layanan-service .content-service .card-service {
    margin: 4rem auto 0;
  }

  footer {
    margin-top: -2rem;
  }

  .fitur-perusahaan .detail-fitur {
    display: block;
  }

  .via {
    margin: 3rem -2rem 0;
  }

  .content-about .img-about {
    margin: 0 auto;
    text-align: center;
  }

  .box-service {
    flex-direction: column;
  }

  .gallery-content a {
    width: 120px;
    margin: 0.5rem;
    height: 80px;
  }

  .legalitas .legalitas-content h3 {
    font-size: 1rem;
  }
}

@media screen and (max-width: 480px) {
  .gallery-content a {
    width: 100px;
    margin: 0.5rem;
    height: 60px;
  }

  .pengantar .img-about p {
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 430px) {
  .gallery-content a {
    width: 90px;
    margin: 0.5rem;
    height: 70px;
  }
}

@media screen and (max-width: 350px) {
  .pengantar .img-about {
    width: 200px;
  }

  .pengantar .img-about img {
    width: 100%;
    height: auto;
  }
}
